.project-container-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(80vh, min-content);
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding-left: 5%;
    padding-bottom: 3%;
}

.project-container {
    display: grid;
    grid-template-columns: 60% 40%;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    grid-template-rows: 10vh minmax(70vh, min-content);
    grid-template-areas: "project-container-headings project-container-headings"
        "project-container-content-left .";
}

.project-container-headings {
    grid-area: project-container-headings;
    position: sticky;
    top: 15vh;
    z-index: 3;
    display: flex;
    /* background-color: red; */
}

.project-heading {
    flex: 2;
}

.project-date {
    flex: 1;
    font-family: Helvetica, Helvetica, Arial, sans-serif;

}

.project-container-content-left {
    grid-area: project-container-content-left;
    display: grid;
    /* grid-template-columns: 100%; */
    grid-template-rows: minmax(20vh,min-content) minmax(80vh, min-content);
}

.project-container-content-left-img {
    /* background-color: white; */
}

.project-container-content-left-content {
    box-sizing: border-box;
    padding-top: 2rem;
    text-align: left;
    position: relative;
}

.project-container-content-right {
    grid-area: project-container-content-right;
    text-align: end;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    /* font-weight: 200; */
    line-height: 15px;

}

.project-container-content-left-content p {
    line-height: 23px;
}

.is-pinned {
    color: red;
  }
/* Responsiveness */
@media screen and (max-width: 1200px) {
    .project-container {
        display: grid;
        grid-template-columns: 70% 30%;
        font-family: Helvetica, Helvetica, Arial, sans-serif;
        grid-template-rows: 10vh minmax(70vh, min-content);
        grid-template-areas: "project-container-headings project-container-headings"
            "project-container-content-left .";
    }
}

@media screen and (max-width: 1000px) {
    .project-container {
        display: grid;
        grid-template-columns: 100%;
        font-family: Helvetica, Helvetica, Arial, sans-serif;
        grid-template-rows: 10vh minmax(70vh, min-content);
        grid-template-areas: "project-container-headings"
            "project-container-content-left";
    }
}