.nav-item-container-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(10vh,min-content);
    border-bottom: 2px solid black;
    position: relative;
    box-sizing: border-box;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-family :Helvetica, Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "lnum";
    /* font-size :15.64px; */
    /* line-height: 2rem; */
}
.nav-item-container-wrapper:hover{
    color: lightgrey;
}
.item-date{
    position: absolute;
    right: 1rem;top: 15%;
    font-size: 1.5rem;
    font-family :Helvetica, Helvetica, Arial, sans-serif;
    font-weight: 200;
}
.nav-item-container-wrapper p{
    /* font-size: 100px; */
    /* font: inherit; */
    /* vertical-align: baseline; */
    /* font-weight: 300; */
 
}

.nav-item-container-wrapper h2{

}