.nav-item-container-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(40px,min-content);
    border-bottom: 1px solid black;
    position: relative;
    box-sizing: border-box;
    padding-right: 1rem;
    font-family :Helvetica, Helvetica, Arial, sans-serif;
    font-feature-settings: "liga", "lnum";
}
.nav-item-container-wrapper:hover{
    color: lightgrey;
}
.item-heading{
    display: flex;
}
.item-date{
    position: absolute;
    right: 1rem;top: 10px;
    font-family :Helvetica, Helvetica, Arial, sans-serif;
    font-weight: 200;
}
.item-para{
    /* position: absolute;
    right: 1rem;
    font-family :Helvetica, Helvetica, Arial, sans-serif;
    font-weight: 200;
    top: 16%; */
}
.nav-item-container-wrapper p{
    /* font-size: 100px; */
    /* font: inherit; */
    /* vertical-align: baseline; */
    /* font-weight: 300; */
 
}

.nav-item-container-wrapper h2{

}