.project4-wrapper-container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    box-sizing: border-box;
}
.project4-container{
    margin: 1%;
    background-color: lightgray;
}