.home-wrapper-container {
    display: grid;
    grid-template-columns: minmax(0rem, 1fr) minmax(min-content, 1860px) minmax(0rem, 1fr);
    grid-template-rows: minmax(100vh, min-content);
    /* box-sizing: border-box; */
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-areas: ". home-container ."
        ". home-container2 ."
        ". home-container3 .";
}

.home-container {
    grid-area: home-container;
    /* background-color: lightgray; */
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 150px minmax(85vh, min-content);
    grid-template-areas: "header header"
        "left-nav projectsContent";
}

.header {
    grid-area: header;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

.left-nav {
    grid-area: left-nav;
    height: 100%;
    width: 25%;
    border-right: 1px solid black;
    position: fixed;
    top: 150px;
    /* bottom: 5%; */
    /* top: 15vh; */
    left: 2rem;
    /* box-sizing: border-box; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 69% 10%;
}

.left-nav-items {
    overflow-y: auto;
    color: lightgrey;
}

.left-nav-items:hover {
    color: black;
}

.left-nav-footer {
    display: flex;
    border-top: 1px solid black;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 1rem;
}

.projectsContent {
    grid-area: projectsContent;
}


/* Responsivenss */
@media screen and (max-width: 850px) {
    .home-container {
        grid-area: home-container;
        /* background-color: lightgray; */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20vh minmax(80vh, min-content);
        grid-template-areas: "header"
            "left-nav";
    }
    .left-nav {
        grid-area: left-nav;
        height: 100%;
        width: 100%;
        border-right: 1px solid black;
        position: fixed;
        top: 20vh;
        /* overflow-y: auto; */
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 75% 5%;
    }
    .projectsContent{
        display: none;
    }
}