.home-wrapper-container{
    display: grid;
    grid-template-columns: minmax(0rem,1fr) minmax(min-content,1860px) minmax(0rem,1fr);
    grid-template-rows: minmax(100vh,min-content);
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-areas: ". home-container ."
    ". home-container2 ."
    ". home-container3 .";
}
.home-container{
    grid-area: home-container;
    /* background-color: lightgray; */
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20vh minmax(80vh,min-content);
    grid-template-areas: "header header"
                         "left-nav projectsContent";
}
.header{
    grid-area: header;
    width: 100%;height: 100%;
    border-bottom: 2px solid black;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}
.left-nav{
    grid-area: left-nav;
    height: 100%;width: 30%;
    border-right: 1px solid black;
    position: fixed;
    top: 20vh;
    /* overflow-y: auto; */
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 5%;
}
.left-nav-items{
    overflow-y: auto;
    color: gray;
}
.left-nav-items:hover{
    color: black;
}
.left-nav-footer{
    display: flex;
    align-items: center;
}
.projectsContent{
    grid-area: projectsContent;
    box-sizing: border-box;
    padding-left: 5%;
}
.test{
    position: sticky;
    top: 14vh;
}
.home-container2{
    grid-area: home-container2;
    background-color: lightgray;
}
.home-container3{
    grid-area: home-container3;
    background-color: lightgray;
}